# Ignore large Stable Diffusion model weights (exceeds GitHub file limits)
app/models/*.safetensors
app/models/*.gguf
app/models/*.ckpt
app/models
app/outputs/

# Ignore portable Node.js binaries and packages
app/tools/
**/node_modules/
**/node_modules_mac/
**/node_modules_linux/
node_modules/

# Ignore backend folder completely (contains massive DLLs, EXEs, and ZIPs >1GB)
app/backend/

# Ignore local IDE and OS temp files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
*.tmp



# output images folder
/app/outputs    